
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <?php echo $this->__('Express Shipping in 3-6 Business Days') ?>
           <!-- <?php echo $this->__('You will be redirected to TapCheckout website when you place an order.') ?> -->
        </li>
    </ul>
</fieldset>
