<?php
$current_store = Mage::app()->getStore();
if(Mage::getStoreConfig('payment/webkul_stripe/debug',$current_store)==1){
    $admin_publish_key = Mage::getStoreConfig('payment/webkul_stripe/api_test_publish_key',$current_store);
}
else{
    $admin_publish_key = Mage::getStoreConfig('payment/webkul_stripe/api_live_publish_key',$current_store);
}
$image = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."wkstripe/config/".Mage::getStoreConfig('payment/webkul_stripe/image_on_form',$current_store);

if(Mage::getStoreConfig('payment/webkul_stripe/activebitcoin',$current_store)){
    $activebitcoin = "true";
}else{
    $activebitcoin = "false";
}
?>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script> 
    var $wk_jq=jQuery.noConflict();

    if(!$wk_jq('#webkul_stripe_token').length) {
        $wk_jq('#co-payment-form').append("<input type='hidden' name='payment[webkul_stripe_token]' id='webkul_stripe_token' value=''/>");
    }
    $wk_jq('#opc-payment .step-title').click(function(){
        $wk_jq('#webkul_stripe_token').val('');
        $wk_jq('#p_method_webkul_stripe').attr('checked', false);
    });

    var handler = StripeCheckout.configure({
        key: '<?php echo $admin_publish_key;?>',
        image: "<?php echo $image ?>",
        token: function(token) {
            payment.switchMethod('webkul_stripe');
            $wk_jq('#payment-buttons-container').find('.button').attr('onclick','payment.save()');
            $wk_jq('#webkul_stripe_token').val(token.id);
            $wk_jq('#webkul_stripe_token').removeAttr('disabled');
            $wk_jq('#payment-buttons-container').find('.button').trigger('click');
        }
    });

    // Close Checkout on page navigation
    $wk_jq(window).on('popstate', function() {
        payment.switchMethod('');
        handler.close();
    });

    $wk_jq('.checkoutView .close').on('click', function() {
        payment.switchMethod('');
        handler.close();
    });

    $wk_jq('#co-payment-form').delegate("#checkout-payment-method-load input[name='payment[method]']","click",function(event){ 
        var thithis = $wk_jq(this);
        if(thithis.attr('id')=='p_method_webkul_stripe'){
        	$wk_jq('#payment-buttons-container').find('.button').attr('onclick','');
        	var grand_total = "<?php echo $this->getQuote()->getBaseGrandTotal()*100?>";
        	$wk_jq.ajax({
				url:'<?php echo $this->getUrl("wkstripe/index/getGrandTotal")?>',
				type:'POST',
				data:{quoteid:"<?php echo $this->getQuote()->getId()?>"},
				dataType:'JSON',
				success:function(data){
					grand_total = data;
					if($wk_jq('#p_method_webkul_stripe').is(':checked')){
		                handler.open({
		                    name: "<?php echo Mage::getStoreConfig('payment/webkul_stripe/name_on_form',$current_store)?>",
		                    amount: grand_total,
		                    bitcoin: <?php echo $activebitcoin?>
		                });
		            }
				}
			});            
        }else{
        	$wk_jq('#payment-buttons-container').find('.button').attr('onclick','payment.save()');
        }
    });   
</script>